.quiz-view {
    margin: 40px auto;
    width: 100%;
    border: 3px solid #3b7bdc;
    padding: 10px 40px;
    height: 500px;
}

.center {
    text-align: center;
}

.key-instructions p {
    margin-bottom: 5px !important;
}

.instructions {
    position: relative;
    top: 50px;
}

.test img{
    padding-top: 90px;
}

.test-word {
    padding-top: 75px;
    padding-bottom: 30px;
}


.wrong {
    font-size: 50px;
    color: red;
    margin-top: 70px;
    position: absolute;
    right: 344px;
}

.bottom-text {
    position: absolute;
    bottom: 0px;
    right: 100px;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}

.green {
  color: #5cb85c;
}

.blue {
    color: #007bff;
}

.picture {
    padding-top: 50px !important;
}