<div class="row" >
  <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
    <div class="quiz-view">
      <div class="row">
        <div class="col-lg-6">
          <div class="center key-instructions">
            <p>Press "E" for</p>
            <h4>White People</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="center key-instructions">
            <p>Press "I" for</p>
            <h4>Black People</h4>
          </div>
        </div>
        <br>
        <!-- this is where view will go --> 
        <div class="container view-wrap" tabindex="1"> 
              <div *ngIf="instruction" class="instructions">
                <p>Put a left finger on the E key for items that belong to the category African Americans.</p>
                <p>Put a right finger on the I key for items that belong to the category European Americans.</p>
                <p>Items will apear one at a time</p>
                <p>If you make a mistake, a red X will appear. Press the other key to continue. Go as fast as you can while being accurate.</p>
                 <button (click)="startTest1()" class="btn btn-primary">Start Test</button>
              </div>
              <div *ngIf="test1" class="test center">
                <div *ngFor="let person of people, let i = index">
                  <div *ngIf="person.id == personId">
                      <img src={{person.src}}>
                      <h2 class="wrong" *ngIf="wrong">X</h2>
                      <p class="bottom-text">If you make a mistake, a red <span class="red">x</span> will appear. Press the other key to continue</p>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>