.quiz-view {
    margin: 40px auto;
    width: 100%;
    border: 5px solid #3b7bdc;
    padding: 10px 40px;
    height: 400px;
}

.center {
    text-align: center;
}

.key-instructions p {
    margin-bottom: 5px !important;
}

.instructions {
    padding: 20px 0px;
}

.test img{
    padding-top: 50px;
}

.test-word {
    padding-top: 75px;
    padding-bottom: 30px;
}


.wrong {
    font-size: 50px;
    color: red;
    margin-top: 70px;
}

.bottom-text {
    position: absolute;
    bottom: 40px;
    right: 118px;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}